*{
    margin: 0;
    padding: 0;
}
.global-nav{
    background-color: black;
    height: 61px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    margin-left: 19px;
}
.right{
    display: flex;
    
}
.right li{
    list-style-type: none;
}
.right .nav-item{
    margin: 0 40px 0 0;
}
.main-container .content{
    display: flex;
}
.content .heading-item{
  margin-top: 50px;
  margin-left:18px ;
  font-size: 25px;
}
.content .para-item{
    margin: 16px 0 0 18px;
    font-size: 20px;
    width: 95%;
}
img{
    margin: 38px 43px 14px 38px;
    width: 500px;
    height: 700px;
}
#btn{
    background-color: black;
    text-decoration: none;
    color: white;
    height: 38px;
    width: 116px;
    margin-top: 16px;
}